Repository codadept/rest-api-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint . --ext .ts --fix, pnpm prettier --write ., pnpm prisma:format

FIX: Indentation
  pnpm-lock.yaml
  tsconfig.json
Due: none

ADD: Few middlewares
  nodemon.json
  src/server.ts
Due: pnpm eslint . --ext .ts --fix, pnpm prettier --write .

ADD: Authentication module
  .editorconfig
  .env.example
  package.json
  pnpm-lock.yaml
  prisma/migrations/20221007143343_init/migration.sql
  prisma/migrations/20221007150139_add_username/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/controllers/auth/index.ts
  src/controllers/auth/login.controller.ts
  src/controllers/auth/logout.controller.ts
  src/controllers/auth/register.controller.ts
  src/controllers/index.ts
  src/db/index.ts
  src/db/user/createUser.db.ts
  src/db/user/getUser.db.ts
  src/db/user/index.ts
  src/global/constants/auth.constants.ts
  src/global/constants/index.ts
  src/global/constants/server.constants.ts
  src/global/interfaces/auth.interface.ts
  src/global/interfaces/controllers.interface.ts
  src/global/interfaces/index.ts
  src/global/interfaces/middlewares.interface.ts
  src/global/interfaces/passport.interface.ts
  src/middlewares/auth.middlewares.ts
  src/middlewares/index.ts
  src/routes/auth.routes.ts
  src/routes/index.ts
  src/server.ts
  src/services/auth/index.ts
  src/services/auth/passport.service.ts
  src/services/auth/register.service.ts
  src/services/index.ts
  src/tests/.gitkeep
  src/utils/index.ts
  src/utils/passport.utils.ts
  src/utils/prisma.utils.ts
  tsconfig.json
Due: pnpm eslint . --ext .ts --fix, pnpm prettier --write ., pnpm prisma:format

FIX: indentation
  pnpm-lock.yaml
Due: none

ADD: Handling Errors and Success
  src/controllers/auth/login.controller.ts
  src/controllers/auth/logout.controller.ts
  src/controllers/auth/register.controller.ts
  src/global/constants/auth.constants.ts
  src/global/interfaces/index.ts
  src/global/interfaces/response.interface.ts
  src/global/response/error/auth.error.ts
  src/global/response/error/error.ts
  src/global/response/error/index.ts
  src/global/response/error/server.error.ts
  src/global/response/success/auth.success.ts
  src/global/response/success/index.ts
  src/global/response/success/success.ts
  src/middlewares/auth.middlewares.ts
  src/services/auth/passport.service.ts
  src/services/auth/register.service.ts
  tsconfig.json
Due: pnpm eslint . --ext .ts --fix, pnpm prettier --write .

ADD: README file
  .prettierignore
  README.md
  package.json
Due: none

DOC: Code documentation
  src/controllers/auth/login.controller.ts
  src/controllers/auth/logout.controller.ts
  src/controllers/auth/register.controller.ts
  src/db/user/createUser.db.ts
  src/db/user/getUser.db.ts
  src/global/response/error/auth.error.ts
  src/global/response/error/common.error.ts
  src/global/response/error/error.ts
  src/global/response/error/index.ts
  src/global/response/error/server.error.ts
  src/global/response/success/auth.success.ts
  src/global/response/success/success.ts
  src/middlewares/auth.middlewares.ts
  src/server.ts
  src/services/auth/index.ts
  src/services/auth/passport.service.ts
  src/services/auth/register.service.ts
Due: pnpm eslint . --ext .ts --fix, pnpm prettier --write .

DOC: Swagger Documentation for API
  .editorconfig
  docs/swagger.yaml
  package.json
  pnpm-lock.yaml
  src/global/constants/docs.constants.ts
  src/global/constants/index.ts
  src/global/response/success/auth.success.ts
  src/server.ts
Due: pnpm eslint . --ext .ts --fix, pnpm prettier --write .

DOC: Swagger Documentation for API
  .eslintrc
  .prettierrc
  docs/swagger.yaml
  nodemon.json
  package.json
  pnpm-lock.yaml
  src/controllers/auth/login.controller.ts
  src/controllers/auth/logout.controller.ts
  src/controllers/auth/register.controller.ts
  src/db/user/createUser.db.ts
  src/db/user/getUser.db.ts
  src/db/user/index.ts
  src/global/constants/auth.constants.ts
  src/global/interfaces/auth.interface.ts
  src/global/interfaces/middlewares.interface.ts
  src/global/interfaces/passport.interface.ts
  src/global/interfaces/response.interface.ts
  src/global/response/error/auth.error.ts
  src/global/response/error/common.error.ts
  src/global/response/error/error.ts
  src/global/response/error/server.error.ts
  src/global/response/success/success.ts
  src/middlewares/auth.middlewares.ts
  src/routes/auth.routes.ts
  src/services/auth/index.ts
  src/services/auth/passport.service.ts
  src/services/auth/register.service.ts
  src/utils/passport.utils.ts
  tsconfig.json
Due: pnpm eslint . --ext .ts --fix, pnpm prettier --write .

FIX: Add Status Code with each response
  src/controllers/auth/login.controller.ts
  src/controllers/auth/logout.controller.ts
  src/controllers/auth/register.controller.ts
  src/middlewares/auth.middlewares.ts
Due: pnpm eslint . --ext .ts --fix, pnpm prettier --write .

FIX: Error handling with try catch block
  src/controllers/auth/logout.controller.ts
  src/controllers/auth/register.controller.ts
  src/global/response/error/index.ts
  src/middlewares/auth.middlewares.ts
  src/services/auth/passport.service.ts
Due: pnpm eslint . --ext .ts --fix, pnpm prettier --write .

Path conditions:
  pnpm eslint . --ext .ts --fix: any of: *.ts
  pnpm prettier --write .: any of: *.ts
  pnpm prisma:format: any of: *.prisma
